{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Serus Imoo!</h1>
</div>

<div id="content">
	<ul class = "menu">
		<li><a n:href = "Homepage:default">Home</a></li>
		<li><a n:href = "Homepage:help">Naávod</a></li>

	</ul>
</div>
{control downloadForm}
{control uploadForm}




