{* This is the welcome page, you can delete it *}

{block content}
<div id=introduction>
	<h2>Otestujte svoju tlačiareň</h2>
	<p>Metóda Print & Scan umožnuje jednoducho a rýchlo otestovať kvalitu vašej tlačiarne iba v troch krokoch</p>
	<ol class = "menu">
			<li>Stiahnite si farebný vzor </li>
			<li>Vytlačte a následne naskenujte farebný vzor</li>
			<li>Uložte výsledný sken na stránku a zistite výsledok</li>
	</ol>
</div>
{control nextForm}




