

{block content}
<div id=download>
	<h2>1. krok</h2>
	<ul>
		<li>Vyberte požadovanú šírku farebného vzoru</li>
		<li>Stiahnite farebný vzor</li>
		<li>Stiahnutý farebný vzor vytlačte</li> 
	</ul>
</div>

{control downloadForm}

<progress max="100" value="0"></progress>
{control nextForm}




