{block content}
<div id=upload>
	<h2>Uloženie skenu</h2>
	<ul>
		<li>Oskenujte vytlačený farebný vzor</li>
		<li>Vyberte naskenovaný farebný vzor a sem uložte</li>
	</ul> 
</div>

{control uploadForm}
<progress max="100" value="33"></progress>





