parameters:

database:
	dsn: 'mysql:host=127.0.0.1;dbname=xlipja01'
	user: 'xlipja01'
	password: 'ala5cenbez'
	options:
		lazy: yes
# database:
# 	dsn: 'mysql:host=127.0.0.1;dbname=xlipja01'
# 	user: 'silvester'
# 	password: 'aaa'
# 	options:
# 		lazy: yes
