

{block content}
<div style="min-height: 810px">
	<div class="w3-container" style="padding: 126px 16px 50px 16px">
		<h2 class="w3-xxlarge w3-border-bottom w3-section w3-padding-16 w3-animate-left padding-left-64">Vymazanie testovacej sady</h2>
			<div class="w3-center">
				<div class="w3-panel"><p>Naozaj si prajete zmazať tento test?</p></div>
				<div>
					{form deleteTestForm}
						{input delete}
						{input cancel}
					{/form}
				</div>
			</div>
	</div>
</div>
