{block content}
<div style="min-height: 830px">
	<div class="w3-container" style="padding: 126px 16px 50px 16px">
		<h2 class="w3-xxlarge w3-border-bottom w3-section w3-padding-16 w3-animate-left padding-left-64">Vyhľadanie testov podľa tlačiarne</h2>
		{form searchPrinterTestsForm}
			<div class="w3-third margin-left-64">
				{label printer}
				{input printer}
				<div class="w3-section">
					{input send}
				</div>
			</div>
		{/form}
	</div>
</div>










