
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 400px;
  height: 10px;
  color: #eee;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #ff7f7f;
	border: 1px solid #cc0000;
	padding: 1em;
	margin-top:700px;
	position: relative;
	display: inline-block;
	z-index: -10;
}

div.margin-left-64{
	margin-left: 64px;
}
h2.padding-left-64{
	padding-left: 64px;
}
p.padding-left-64{
	padding-left: 64px;
}
ul.margin-left-64{
	margin-left: 64px;

}
div.padding-l-r-32{
	padding-left:32px;
	padding-right:32px;

}
a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	padding:5px;
	color: #D00;
}


th.va-sort {
  
  display: block; 
    
}
th{
	padding: 0 !important;
}
a.va-sort{
	display: block;
	padding: 8px;
	font-weight: bold;
	text-decoration: none !important;
}

th.va-sort-bold{
  background-color: #C6C6C6;
  
}
